<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharedexpenses.repository.mysqlImp.mappers.FriendsGroupMapper">

    <resultMap type="FriendsGroup" id="friendsGroupResult">
        <id column="id" property="id" javaType="long"/>
        <result column="name" property="name" javaType="string"/>
    </resultMap>

    <resultMap type="Friend" id="friendResult">
        <id column="friend_id" property="id" javaType="long"/>
        <result column="friend_name" property="name" javaType="string"/>
        <association property="friendsGroup" javaType="FriendsGroup">
            <id column="group_id" property="id" javaType="long"/>
            <result column="group_name" property="name" javaType="string"/>
        </association>
    </resultMap>

    <resultMap type="Payment" id="paymentResult">
        <id column="payment_id" property="id" javaType="long"/>
        <result column="payment_concept" property="concept" javaType="string"/>
        <result column="payment_amount" property="amount" javaType="BigDecimal"/>
        <result column="payment_date" property="date" javaType="java.time.LocalDateTime"/>
        <association property="friend" javaType="Friend">
            <id column="friend_id" property="id" javaType="long"/>
            <result column="friend_name" property="name" javaType="string"/>
            <association property="friendsGroup" javaType="FriendsGroup">
                <id column="group_id" property="id" javaType="long"/>
                <result column="group_name" property="name" javaType="string"/>
            </association>
        </association>
    </resultMap>

    <select id="findAllGroups" resultMap="friendsGroupResult">
        SELECT * FROM friends_group
    </select>

    <select id="findGroupById" parameterType="long" resultMap="friendsGroupResult">
        SELECT * FROM friends_group WHERE ID = #{id}
    </select>

    <select id="findFriendsByGroup" parameterType="long" resultMap="friendResult">
        SELECT
        friend.id as "friend_id",
        friend.name as "friend_name",
        friend.group_id as "friend_group_id",
        friends_group.id as "group_id",
        friends_group.name as "group_name"
        FROM friend
        INNER JOIN friends_group ON friend.group_id = friends_group.id
        WHERE group_id = #{groupId}
        ORDER BY friend.id ASC
    </select>

    <select id="findPaymentsByFriend" parameterType="long" resultMap="paymentResult">
        SELECT
        payment.id             as "payment_id",
        payment.concept        as "payment_concept",
        payment.amount         as "payment_amount",
        friend.id              as "friend_id",
        friend.name            as "friend_name",
        friend.group_id        as "friend_group_id",
        friends_group.id       as "group_id",
        friends_group.name     as "group_name",
        payment.date           as "payment_date"
        FROM payment
        INNER JOIN friend ON payment.friend_id = friend.id
        INNER JOIN friends_group ON friend.group_id = friends_group.id
        WHERE friend_id = #{friendId}
        ORDER BY payment.id ASC
    </select>

    <insert id="insertFriendsGroup" useGeneratedKeys="true" keyProperty="id" parameterType="FriendsGroup">
        INSERT INTO friends_group(name)
        VALUES (#{name})
    </insert>

    <delete id="deleteGroupById" parameterType="long">
        DELETE FROM friends_group where id = #{id}
    </delete>

</mapper>