<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharedexpenses.repository.mysqlImp.mappers.PaymentMapper">

    <select id="findAllPayments" resultMap="result-maps.paymentResult">
        SELECT
        payment.id             as "payment_id",
        payment.concept        as "payment_concept",
        payment.amount         as "payment_amount",
        friend.id              as "friend_id",
        friend.name            as "friend_name",
        friend.group_id        as "friend_group_id",
        friends_group.id       as "group_id",
        friends_group.name     as "group_name",
        payment.date           as "payment_date"
        FROM payment
        INNER JOIN friend ON payment.friend_id = friend.id
        INNER JOIN friends_group ON friend.group_id = friends_group.id
        ORDER BY payment.id ASC
    </select>

    <select id="findPaymentById" parameterType="long" resultMap="result-maps.paymentResult">
        SELECT
        payment.id             as "payment_id",
        payment.concept        as "payment_concept",
        payment.amount         as "payment_amount",
        friend.id              as "friend_id",
        friend.name            as "friend_name",
        friend.group_id        as "friend_group_id",
        friends_group.id       as "group_id",
        friends_group.name     as "group_name",
        payment.date           as "payment_date"
        FROM payment
        INNER JOIN friend ON payment.friend_id = friend.id
        INNER JOIN friends_group ON friend.group_id = friends_group.id
        WHERE payment.id = #{id}
    </select>

    <insert id="insertPayment" useGeneratedKeys="true" keyProperty="id" parameterType="PaymentDTO">
        INSERT INTO payment(concept, amount, date, friend_id)
        VALUES (#{concept}, #{amount}, #{date}, #{friendId})
    </insert>

    <delete id="deletePaymentById" parameterType="long">
        DELETE FROM payment where id = #{id}
    </delete>

</mapper>